body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
  }
  
header {
    text-align: center;
    font-family: 'Urbanist';
    font-size: 36px;
    font-style: italic;

}
  

h2 {
  text-align: center;
  font-family: 'Urbanist';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}
  
.social-links {
      display: flex;
      justify-content: center;
  }
  
.social-links a {
  font-family: 'Urbanist';
  margin: 0 10px;
  font-size: 18px;
  color: white;
  }